/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
    max-width: 1440px;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}


h2{
    font-weight: 700;
    font-size: 22px;
    margin: 0;
}

p{
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 14px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

ul{
    list-style: none;
}

/** Header **/

header{
    width: 100%;
}

.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}

.logo{
    width:30%;
    height:30%;
}

nav ul{
    display: flex;
}

nav ul li{
    display: flex;
    width: 50%;
    padding: 0px 0px 15px 15px;
    justify-content: center;
}
 
nav ul li:hover {
    border-top: 2px solid #0065FC;
    }

/** Search and filter **/

.search-and-filter{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    gap: 40px;
}


.headline-and-text h1{
    font-size: 22px;
    font-weight: 700;
}

.headline-and-text h2{
    font-size: 16px;
    font-weight: 400;
}

form{
    display: flex;
    max-width: 377px;
}

.localisation-button{
    width: 50px;
    height: 50px;
    border-radius: 15px 0px 0px 15px;
    border: 1px  #d9d9d9;
}

.localisation-icon{
    font-size: 20px;
}

#search-bar{
    width: 50%;
    height: 50px;
    border: 1px #d9d9d9 solid;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}

.search-button{
    background: #0065FC;
    color: white;
    font-size:17px;
    font-weight: bold;
    width:35%;
    height:50px;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid #0065FC;
}

.magnifying-glass{
    display: none;
}

/**Filter**/

.filter{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    gap: 15px;
}

.filter-title{
    font-size: 18px;
    font-weight: 700;

}

.button-container{
    display: flex;
    gap: 15px;
}

.filter-button{
    border: 2px solid #F2F2F2;
    height: 50px;
    max-width: 180px;
    gap: 10px;
    border-radius: 25px;
    padding: 4px 19px 4px 19px;
    background-color: inherit;
    display: flex;
    align-items: center;
}

.icon-filter{
    font-size: 22px;
}


.filter-text{
    font-weight:700;
    font-size: 16px;
}


.icontextfilter:hover{
    background-color: #DEEBFF;
    color: black;
    opacity: 1;
}

.info-bar{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.icon-info{
    font-size: 12px;
    height: 24px;
    width: 24px;
    border: 1px solid #F2F2F2;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-info{
    margin: 0;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 69%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.card-first-line {
    display: flex;
    gap: 30px;
}

.card-second-line{
    display: flex;
    gap: 30px;
}

.hebergements .card{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.image-hebergements {
    width: 100%;
    height: 124px;
    border-radius: 20px 20px 0px 0px;
}

.card-contain{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 10px 10px 10px;
    gap: 8px;
}

.card-contain .card-title{
    margin: 0;
}

.card-subtitle{
    font-size: 12px;
}


#show-more{
    font-size: 16px;
    font-weight: bold;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/** Activities**/

.activities{
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.activities-card{
    display: flex;
    justify-content: space-between;
    padding: 30px 0px 30px 0px;
}

.activities .card{
    width: 22%;
    padding:0px;
    display: flex;
    flex-direction: column;
    height: 440px;
}

.image-activities{
    height: 86%;
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border: 0;
}

.activities .card-content{
    display: flex;
    padding: 20px;
    padding-bottom: 15px;
    align-items: center;
}


.activities .card-title{
    font-weight: 700;
    font-size: 16px;
    margin: 0;
}

/**FOOTER**/

footer{
    background-color: #F2F2F2;
    display: flex;
    justify-content: space-between;
}

.foot-container{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 10px;
}

.foot-title{
    margin-bottom: 0;
}

footer ul{
    margin: 5px;
    padding-left: 0;
}

footer li{
    padding-bottom: 10px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    /** search-and-filter**/

    .filter{
        flex-direction: column;
        align-items: flex-start;
    }

    .filter-text{
        font-size: 15px;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires {
        flex-direction: column;
        align-items: flex-start;
    }

    /****** Hebergements ***********/

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    /** Activities**/

    .activities .card{
        max-height: 270px;
    }

    .image-activities{
        height: 74%;
    }

    .activities .card-title{
        font-size: 13px;
    }

    /**FOOTER**/

    footer li{
        font-size: 15px;
    }

}

/* Small devices (phones, less than 768px) */
@media (min-width:320px) and (max-width: 767.98px) {

    /** main **/
    .main-container{
        padding: 0;
    }

    /**Header**/

    .nav-container{
        flex-direction: column;
        width: 100%;
    }

    .logo{
        padding: 30px;
        text-align: center;
    }

    .links{
        width: 100%;
        border-bottom: 2px solid #DEEBFF;
    }

    header ul{
        width: 100%;
        padding: 0;
        justify-content: space-evenly;
    }

    nav ul li{
        padding: 0px 0px 15px 0px;
        border-bottom: 2px solid #DEEBFF;
    }

    header ul li:hover{
        border-top: none;
        border-bottom: 2px solid #0065FC;
    }

    /** search-and-filter**/


    .search-and-filter{
        padding: 0px 20px 0px 20px;
        gap: 25px;
        margin: 0;
    }


    .headline-and-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    h1{
        margin:10px 0px 10px 0px;
    }

    form{
        width: 93%;
    }


    #search-bar{
        width: 100%;
    }


    .search-button{
        width: 20%;
        border-radius: 20px;
        margin-left: -15px;
    }

    .rechercher-word{
        display: none;
    }

    .magnifying-glass{
        display: contents;
    }

    .filter{
        width: 100%;
    }

    .filter .button-container{
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: wrap;
        max-height: 165px;
        width: 100%;
    }

    .filter-button{
        width: 47%;
    }

    .icon-filter{
        font-size: 20px;
    }

    .filter-text{
        font-size: 12px;
    }

    .info-bar{
        font-size: 16px;
        font-weight: 400;
    }

    /****** Hebergements And Populaires ***********/

    .hebergements-and-populaires .hebergements{
        order: 2;
        background-color: white;
    }

    /****** Hebergements ***********/
    
    .card-first-line, .card-second-line{
        flex-direction: column;
    }

    /****** Populaires ***********/

    .hebergements-and-populaires .populaires{
        order: 1;
        margin-top: 30px;
        border-radius: 0;
    }
    

    .populaires-cards{
        flex-direction: column;
        width: 100%;

    }

    .populaires-cards article.card{
        flex-wrap: wrap;
        width: 265px;
    }

    /** Activities**/

    .activities-card{
        flex-direction: column;
        gap: 20px;
    }

    .activities .card{
        width: 100%;
        height: 200px;
    }

    /**FOOTER**/

    footer{
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }

    .foot-container{
        width: 100%;
    }

    }